<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuu60KyMxET6ekWiTOqUEA13GAVD4XoEs</string>
	<key>GCM_SENDER_ID</key>
	<string>767615754171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-project-e7898</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-project-e7898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767615754171:ios:b037643447f462ad53ee9e</string>
</dict>
</plist>